<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include components/navbar %>
    <header>
      <h1><%= title %></h1>
    </header>
    <div id="app">
      <div class="search">
        <input type="text"
        name="query"
        v-model="query"
        placeholder="Where you wanna go?, example: restaurent in Oran">
        <input type="checkbox" name="opennow" v-model="isOpennow"> Open now
        <div class="clearfix"></div>
      </div>
      <div v-if="isLoading" class="loading">
        <p>Loading...</p>
        <p><em>Please, be cool. But also be warm.</em></p>
        <img src="http://24.media.tumblr.com/a2f0e8dbde1ca5e974e0f3ea406f1510/tumblr_mf3t4sETCO1rmf0z3o1_500.gif"
             alt="Loading content">
      </div>
      <div v-else>
        <ul>
          <li class="element" v-for="place in placesList">
            <div class="image">
              <img :src="place.icon" alt="">
            </div>
            <div class="detail">
              <h3>
                {{ place.name }}
                <a :href="'#'+place.id"
                   :id="place.id"
                   class="join-btn"
                   @click="goToPlace(place.id)">
                   {{ place.votes }} Going
                 </a>
               </h3>
              <address>
                {{ place.formatted_address}}
              </address>
              <p><strong>Tags:</strong><span v-for="type in place.types">, {{type}}</span></p>
            </div>
            <div class="clearfix">

            </div>
          </li>
        </ul>
      </div>
    </div>

    <hr width="30%">

    <footer>
      <p>This awesome application is using
        <a href="https://developers.google.com/places/web-service/search" target="_blank">Google places API</a>.
         Find our source code on
         <a href="https://github.com/Fcmam5/fcc-nightlife-coordination-app" target="_blank">Github</a>
       </p>
    </footer>
    <script src="https://unpkg.com/vue@2.4.2/dist/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
    <script src="/javascripts/main.js"></script>
  </body>
</html>
